/*登录 Start */
.login-container {
    background-color: #212124;
    color: #515151;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    vertical-align: middle;
    width: auto;
    min-height: 100vh;
}

.login-bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .55;
    background: no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

/*背景图片*/
.login-bg-img-balloon {
    background-image: url("../images/bg-img-2.jpg");
}

.login-header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 30px;;
}

.login-header .login-header-title .brand-icon {
    width: 60px;
    height: 60px
}

.cls-container .login-header .login-header .login-header-title .brand-title {
    font-size: 27px
}

.login-header-title {
    display: inline-block;
    padding: 20px 0;
    line-height: 60px;
}

.login-header-title a {
    color: #bebebe
}

.login-header-title a:hover {
    color: #ffffff;
}

.login-body {
    padding: 10vh 15px 15px;
    position: relative;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.login-body-panel {
    width: 70%;
    min-width: 250px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.login-body-panel-head {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

.login-footer {
    font-size: 15px;
    color: #e0e0e0;
}

.login-footer a {
    color: #e0e0e0;
}

.login-footer a:hover {
    color: #FFFFFF;
}

.login-mar-rgt {
    margin-right: 15px;
}

.login-mar-lft {
    margin-left: 15px;
}
.login-icon {
    padding-left: 18px;
    padding-right: 18px;
}
/*登录 End */

/* 菜单树 */
.menu-tree {

}
.menu-tree ul{
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    padding-left: 20px;
}
.menu-tree li {
    list-style: none;
}
.menu-tree  li :after {
    font-weight: bold;
}
.menu-tree i {
    color: #367fa9;
}

/* Icon列表 */
.icon-modal-div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.icon-modal-div span {
    font-size: 20px;
    color: #656d6d;
}
.icon-modal-div span :hover {
    color: #000000;
}
.modal-dialog-scroll {
    overflow-y: initial !important;
}
.modal-body-scroll {
    position: relative;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 450px;
}